
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.search-box{
  flex: 0 40px auto;
	background-color: transparent;
	height: 50px;
	border-radius: 40px;
	padding: 10px;
	margin: 15px;
	justify-content: center;
}

.search-btn {
	float: right;
	width: 10px;
	height: 10px;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	box-shadow: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 1.4em;
	color: #fff;
	padding: 14px 40px;
	border: none;
	border-radius: 20px;
}

.img {
  display: flex;
  width: 25px;
  height: auto;
}

.alert {
    display: none;
    background-color: #f4433686;
    color: white;
    border-radius: 20px;
    margin-top: 0;
  }
  
  .invalid {
    display: block;
  }
