
.search-bar {
  position: absolute; 
  transform: translate(-50%, -50%);
  bottom: 10%;
  left: 50%;
  max-width: 60rem;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 3rem;
  align-items: center;
  background-color: rgba(149, 190, 251, 0.288);
  padding: 0.5rem 0.7rem;
	height: 3.5rem;
  border-radius: 1.2rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-bar input {
  position: relative;
	font-size: 1.6rem;
  padding: 0.5rem;
  outline: 0;
  border: 0;
  background-color: transparent;
  color: #fff;
  height: 1.5rem; 
}

.search-bar input::placeholder {
  color: #b8c2d1;
}

.search-btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  height: 2rem;
  width: 2rem;
  display: grid;
  place-items: center;
  position: absolute;
  right: 1rem; 
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 410px) {
  /* .search-btn {
    display: none;
  } */
	.search-bar input {
		display: none;
	}
}

.alert {
    display: none;
    background-color: #ff1100e0;
    color: white;
    border-radius: 5em;
		padding: 0.6em;
		margin-bottom: 3em;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.invalid {
	display: block;
}
