.events-container {
	margin-top: 15%;
	width: 100%;
	background-repeat: no-repeat;
	height: 100%;
	/* background: #fff url('/bg.svg'); */
}

.events-event-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	z-index: 1;
	margin-left: 5px;
	margin-right: 5px;
	justify-content: space-evenly;
	gap: 60px 30px;
}
